 h1{
        color: red;
      background-color: black;
      text-align:center;
      margin-top: 0%;
      }
      .soccer{
        color: #0000ff;
      }
      #midashi3{
        color: #00ff00;
      }