 h1{
        color: red;
      background-color: rgb(245, 196, 196);
      text-align:center;
      margin-top: 5%;
      }
      .line1{
        color: black;
      }
      #midashi3{
        color: black;
      }
